body {
    margin: 0px;
    font-family: 'Fasthand', cursive;
}

.half-width {
    margin: 10%;

}

.link-button {
    border: 10px;
    background-color: palevioletred;
    border-radius: 10px;


}

h1 {
    font-size: 50px;
    color: yellow;
}

.top-banner {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    float: left;
}